<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            　 <a href="/home"><img alt="智能家居" src="img/logo-new.png" width="150px" height="45px"></a>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-collapse">

            <div class="nav navbar-nav">
                <li class="active"><a href="/home" id="nav-home" style="color: #ffffff;margin-left:120px">主页</a></li>
                <li><a href="/inf" id="nav-tab1" style="color: #ffffff;margin-left:50px">知识介绍</a></li>
                <li><a href="/tab2" id="nav-tab2" style="color: #ffffff;margin-left:50px">应用展示</a></li>
                <li><a href="/develop" id="nav-tab3" style="color: #ffffff;margin-left:50px">发展趋势</a></li>
                <li><a href="/myComment" id="nav-comments" style="color: #ffffff;margin-left:50px">心得体会</a></li>
            </div>
            <div class="nav navbar-nav navbar-right">
                <% if (!user) { %>
                <ul class="login-reg">
                <li><a href="#" class="cd-signin">登录</a></li>
                <li><a href="#" class="cd-signup">注册</a></li>
                </ul>
                 <% } else { %>
                        <div class="dropdown" style="margin-top:20px; margin-right:70px; width:100%">
                        <a data-toggle="dropdown" id="user"></a>
                        <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1" style="width:auto">
                        <li role="presentation">
                           <a role="menuitem" tabindex="-1" href="/selfComments" >个人主页</a>
                        </li>
                        <li role="presentation">
                           <a id="logout" role="menuitem" tabindex="-1" href="/logout">登出</a>
                        </li>
                        </ul>
                        </div>
                <% } %>
            </div>
                
                <!--login in form -----start!-->
                    <div class="cd-user-modal">
                        
        <div class="cd-user-modal-container">
            <ul class="cd-switcher">
                <li style="list-style:none"><a href="#0" style="text-decoration:none">用户登录</a></li>
                <li style="list-style:none"><a href="#0" style="text-decoration:none">注册新用户</a></li>
            </ul>

            <div id="cd-login" class = "is-selected"> <!-- 登录表单 -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signin-username">用户名</label>
                        <input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="输入用户名">
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">密码</label>
                        <div>
                             <input class="full-width has-padding has-border password" id="signin-password" type="password"  placeholder="输入密码">
                             <img id="demo_img3" onclick="hideShowPsw(this.id,'signin-password')" src="img/invisible.png" style="margin-left: 25px; width:35px; height:30px; ">
                        </div>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="save-me">
                        <label for="remember-me">记住密码</label>
                    </p>

                    <p class="fieldset">
                        <input id="submit-signin" class="full-width2" type="button" value="登 录">
                    </p>
                </form>
            </div>

            <div id="cd-signup"> <!-- 注册表单 -->
                <form class="cd-form" >
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">用户名</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="输入用户名" onfocus="userNameFocus()" onblur="userNameBlur()">
                    </p>


                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">密码</label>
                        <div>
                        <input class="full-width has-padding has-border password" id="signup-password" type="password"  placeholder="输入密码" onfocus="pwdFocus()" onblur="pwdBlur()">
                        <img id="demo_img1" onclick="hideShowPsw(this.id,'signup-password')" src="img/invisible.png" style="width:35px; height:30px; margin-left:25px;">
                        </div>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-confirm-password" for="confirm-password">确认密码</label>
                        <div>
                             <input class="full-width has-padding has-border password" id="confirm-password" type="password" placeholder="确认密码" onblur="repwdBlur()">
                             <img id="demo_img2" onclick="hideShowPsw(this.id,'confirm-password')" src="img/invisible.png" style="width:35px; height:30px; margin-left:25px;">
                        </div>
                    </p>

                    <p class="fieldset">
                        <input id="submit-signup" class="full-width2" type="button" value="注册新用户">
                    </p>
                </form>
            </div>

            <a href="#0" class="cd-close-form">关闭</a>
        </div>
                    </div>
        </div>
    </div>
</nav>
<script>
    $(document).ready(function () {
        getInfo();
        //获取信息
        function getInfo() {
            var str = '<div><span class="state"></span><span class="caret"></span></div>';
            var url = 'http://localhost:3000/nav/getInfo';
            $.get(url,function(data){
             if(data.code==0){
             var data=data.data;
             $('#user').empty();
             $('#user').append(str);
             $('.state').text(data.userName);
             }
             })
        }
    })

    //密码的显示与隐藏
    function hideShowPsw(ImgId,InputId){
        var demoImg = document.getElementById(ImgId);
        var demoInput = document.getElementById(InputId);
        //隐藏text block，显示password block
        if (demoInput.type === "password") {
            demoInput.type = "text";
            demoImg.src = "img/visible.png";
        }else {
            demoInput.type = "password";
            demoImg.src = "img/invisible.png";
        }
    }
    
    //导航栏选中状态切换
    $('.navbar-nav').find('li').each(function(){
        var a=$(this).find('a:first')[0];
        if($(a).attr('href')==location.pathname){
            $(this).addClass('active');
        }else{
            $(this).removeClass('active');
        }
    });

</script>
<div style="height: 60px"></div>