<%- include('components/header')%>
<div class="container">
    <div class="row">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-621966">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-621966">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-621966">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-621966">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="img/v3/default.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="item">
                        <img alt="" src="img/v3/default2.jpg" width="100%" />
                        </div>
                    <div class="item">
                        <img alt="" src="img/v3/default1.jpg" width="100%"/>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-621966" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-621966" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="feelrow">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/v3/default9.jpg" width="100%" />
                        <div class="caption">
                            <h3>
                                知识介绍
                                <a class="btn" href="/inf" style="float:right">查看</a>
                            </h3>
                            <p>
                                智能家居以住宅为平台，利用综合布线、网络通信等技术将家居生活有关的设施集成，构建高效的管理系统，提升家居安全性、便利性、舒适性、艺术性，并实现环保节能的居住环境。从技术应用角度来看主要有三类主流技术：总线技术类、无线通信技术类和电力线载波通信技术。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/v3/default8.jpg" width="100%" />
                        <div class="caption">
                            <h3>
                                应用展示
                                <a class="btn" href="/tab2" style="float:right">查看</a>
                            </h3>
                            <p>
                                物联网让智能家居的功能产生了飞跃，它改变的将不仅仅是家电产品的功能，而是生活方式，给消费者带来的便捷令人向往。智能灯光控制，智能家电控制，智能安防，远程监控……这些涉及了物联网、人工智能等技术的应用，不仅让我们的生活便捷舒适，而且也更加安全可靠。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" src="img/v3/default10.jpg" width="100%" />
                        <div class="caption">
                            <h3>
                                发展趋势
                                <a class="btn" href="/develop" style="float:right">查看</a>
                            </h3>
                            <p>
                                智能家居的概念传入中国已有近三十年的时间了，国内的一些厂商也于2003年左右进入智能家居行业，并且陆续有一些智能家居系统推向市场。随着社会、经济水平的发展，人们对家居品质的追求也越来越高，要求家居舒适化、安全化，家居生活舒适化、智能化，对智能家居系统的需求也越来越强烈。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('components/footer')%>