<%- include('components/header')%>
<link href="/css/NavigationTree.css" rel="stylesheet">
<div class="container">
    <div class="infbg clearfix">
        <img src="img/v3/1.jpg" width="100%" height="50%">
    </div>
    <div class="inf">
    <div class="inf1">
        <h1 class="text-info">智能家居</h1>
        <span style="font-size: 120%">智能家居（英文：smart home, home automation）是以住宅为平台，利用综合布线技术、网络通信技术、 安全防范技术、自动控制技术、音视频技术将家居生活有关的设施集成，构建高效的住宅设施与家庭日程事务的管理系统，提升家居安全性、便利性、舒适性、艺术性，并实现环保节能的居住环境。</span>
        <h2>发展背景</h2>
        <div class="con1">智能家居是在互联网影响之下物联化的体现。智能家居通过物联网技术将家中的各种设备（如音视频设备、照明系统、窗帘控制、空调控制、安防系统、数字影院系统、影音服务器、影柜系统、网络家电等）连接到一起，提供家电控制、照明控制、电话远程控制、室内外遥控、防盗报警、环境监测、暖通控制、红外转发以及可编程定时控制等多种功能和手段。与普通家居相比，智能家居不仅具有传统的居住功能，兼备建筑、网络通信、信息家电、设备自动化，提供全方位的信息交互功能，甚至为各种能源费用节约资金。</div>
        <h2>现状与发展</h2>
        <h3>国内现状</h3>
        <div class="con2">
            <p>智能家居作为一个新生产业，处于一个导入期与成长期的临界点，市场消费观念还未形成，但随着智能家居市场推广普及的进一步落实，培育起消费者的使用习惯，智能家居市场的消费潜力必然是巨大的，产业前景光明。 正因为如此，国内优秀的智能家居生产企业愈来愈重视对行业市场的研究，特别是对企业发展环境和客户需求趋势变化的深入研究，一大批国内优秀的智能家居品牌迅速崛起，逐渐成为智能家居产业中的翘楚!　智能家居至今在中国已经历了近12年的发展，从人们最初的梦想，到今天真实的走进我们的生活，经历了一个艰难的过程。</p>
            <p>智能家居在中国的发展经历的四个阶段，分别是萌芽期、开创期、徘徊期、融合演变期。</p>
        </div>
        <h3>国外现状</h3>
        <div class="con2">
            <p>自从世界上第一幢智能建筑1984年在美国出现后，美国、加拿大、欧洲、澳大利亚和东南亚等经济比较发达的国家先后提出了各种智能家居的方案。智能家居在美国、德国、新加坡、日本等国都有广泛应用。</p>
            <p>1998年5月新加坡举办的“98亚洲家庭电器与电子消费品国际展览会”上，通过在场内模拟“未来之家”，推出了新加坡模式的家庭智能化系统。它的系统功能包括三表抄送功能、安防报警功能、可视对讲功能、监控中心功能、家电控制功能、有线电视接入、电话接入、住户信息留言功能、家庭智能控制面板、智能布线箱、宽带网接入和统软件配置等。</p>
            <p>根据美国该行业之专业顾问公司PARKS的统计资料显示：1995年，美国一个家庭要安装家庭自动化设备的平均费用在7000至9000美元之间。1995年美国家庭已使用先进家庭自动化设备的比率为0.33%，看来市场真正启动尚需时日。预计这五年内，家庭自动化的市场年平均增长率为8%。PARKS公司的资料亦显示：到2004年，家庭网络市场总额可达57亿美元。据国际专家预测，到2000年底国际智能家居的产品销售额可达24亿美元。2004年可达148亿美元。</p>
        </div>
        <h3>发展机遇</h3>
        <div class="con2">
            <p>智慧家居是今后家居领域发展的必然趋势，虽然市场推广才刚刚开始，但行业的竞争已经很激烈，光是宁波就有不下5家企业专门从事这方面开发。</p>
            <p>制造企业在产业调整和转型中，都需要运用到大数据。今后，数据将成为推进社会进步的第四生产力。市场潜力巨大，同时，智慧家居所依托的大数据分析，也是传统制造企业转型升级的重要途径。</p>
        </div>
        <h2>理念与原则</h2>
        <h3>设计理念</h3>
        <div class="con2">
            <p>智能家居控制的发展关键在于设计理念以及经营者的心态，市场目标客户真正需要什么东西，挣什么样的钱都要慎重考虑，如果只注重签单，不设身处地的为客户着想，不兼顾智能解决未来的发展，提供片面的智能家居解决方案，而不考虑客户的适用性，是不可取的，是急功近利的表现，这不仅降低了智能家居的应用效果，还不利于整个智能家居行业的发展。</p>
            <p>智能家居控制系统的经营商更要本着消费者至上的理念，本着从客户利益出发心态，以认真、负责、诚信的态度，真正的从客户的实际需求出发，用心服务，用心为客户做智能家居控制设计和解决方案，把工程做好，让客户花最少的钱得到最大化的实惠，才是企业发展之道，才是智能家居行业发展之道。</p>
        </div>
        <h3>设计原则</h3>
        <div class="con2">
            <p>衡量一个住宅小区智能化系统的成功与否，并非仅仅取决于智能化系统的多少、系统的先进性或集成度，而是取决于系统的设计和配置是否经济合理并且系统能 否成功运行，系统的使用、管理和维护是否方便，系统或产品的技术是否成熟适用，换句话说，就是如何以最少的投入、最简便的实现途径来换取最大的功效，实现 便捷高质量的生活。</p>
            <p>为了实现上述目标，智能家居系统设计时要遵循以下原则：<b>实用便利</b>、<b>可靠性</b>、<b>标准行</b>、<b>方便性</b>、<b>轻巧型</b></p>
        </div>
        <h2>功能服务</h2>
        <div class="con1">
            <p>1．始终在线的网络服务，与互联网随时相连，为在家办公提供了方便条件。</p>
            <p>2．安全防范：智能安防可以实时监控非法闯入、火灾、煤气泄露、紧急呼救的发生。一旦出现警情，系统会自动向中心发出报警信息，同时启动相关电器进入应急联动状态，从而实现主动防范。</p>
            <p>3．家电的智能控制和远程控制，如对灯光照明进行场景设置和远程控制、电器的自动控制和远程控制等。</p>
            <p>3．家电的智能控制和远程控制，如对灯光照明进行场景设置和远程控制、电器的自动控制和远程控制等。</p>
            <p>5．环境自动控制。如家庭中央空调系统。</p>
            <p>6．提供全方位家庭娱乐。如家庭影院系统和家庭中央背景音乐系统。</p>
            <p>7．现代化的厨卫环境。主要指整体厨房和整体卫浴。</p>
            <p>8．家庭信息服务：管理家庭信息及与小区物业管理公司联系。</p>
            <p>9．家庭理财服务。通过网络完成理财和消费服务。</p>
            <p>10．自动维护功能：智能信息家电可以通过服务器直接从制造商的服务网站上自动下载、更新驱动程序和诊断程序，实现智能化的故障自诊断、新功能自动扩展。</p>
        </div>
        <h2>设计标准</h2>
        <div class="con1">
            <p>1979年，美国的斯坦福研究所提出了将家电及电气设备的控制线集成在一起的家庭总线（HOMEBUS），
                并成立了相应的研究会进行研究，1983年美国电子工业协会组织专门机构开始制定家庭电气设计标准，并
                于 1988年编制了第一个适用于家庭住宅的电气设计标准，即：《家庭自动化系统与通讯标准》，也有称之
                为家庭总线系统标准(HBS，Home Bus System)。在其制定的设计规范与标准中，智能住宅的电气设计要求
                必须满足以下三个条件，即：</p>
            <p>1． 具有家庭总线系统；</p>
            <p>2．通过家庭总线系统提供各种服务功能；</p>
            <p>3． 能和住宅以外的外部世界相连接。</p>
        </div>
    </div>
    <script>
        function DirectoryNav($h,config){
            this.opts = $.extend(true,{
                scrollThreshold:0.5,    //滚动检测阀值 0.5在浏览器窗口中间部位
                scrollSpeed:700,        //滚动到指定位置的动画时间
                scrollTopBorder:0,    //滚动条距离顶部多少的时候显示导航，如果为0，则一直显示
                easing: 'swing',        //不解释
                delayDetection:100,     //延时检测，避免滚动的时候检测过于频繁
                scrollChange:function(){}
            },config);
            this.$win = $(window);
            this.$h = $h;
            this.$pageNavList = "";
            this.$pageNavListLis ="";
            this.$curTag = "";
            this.$pageNavListLiH = "";
            this.offArr = [];
            this.curIndex = 0;
            this.scrollIng = false;
            this.init();
        }

        DirectoryNav.prototype = {
            init:function(){
                this.make();
                this.setArr();
                this.bindEvent();
            },
            make:function(){
                //生成导航目录结构,这是根据需求自己生成的。如果你直接在页面中输出一个结构那也挺好不用 搞js
                $("body").append('<div class="directory-nav" id="directoryNav"><ul></ul><span class="cur-tag"></span><span class="c-top"></span><span class="c-bottom"></span><span class="line"></span></div>>');
                var $hs = this.$h,
                    $directoryNav = $("#directoryNav"),
                    temp = [],
                    index1 = 0,
                    index2 = 0;
                $hs.each(function(index){
                    var $this = $(this),
                        text = $this.text();
                    if(this.tagName.toLowerCase()=='h2'){
                        index1++;
                        if(index1%2==0) index2 = 0;
                        temp.push('<li class="l1"><span class="c-dot"></span>'+index1+'. <a class="l1-text">'+text+'</a></li>');
                    }else{
                        index2++;
                        temp.push('<li class="l2">'+index1+'.'+index2+' <a class="l2-text">'+text+'</a></li>');

                    }
                });
                $directoryNav.find("ul").html(temp.join(""));

                //设置变量
                this.$pageNavList = $directoryNav;
                this.$pageNavListLis = this.$pageNavList.find("li");
                this.$curTag = this.$pageNavList.find(".cur-tag");
                this.$pageNavListLiH = this.$pageNavListLis.eq(0).height();

                if(!this.opts.scrollTopBorder){
                    this.$pageNavList.show();
                }
            },
            setArr:function(){
                var This = this;
                this.$h.each(function(){
                    var $this = $(this),
                        offT = Math.round($this.offset().top);
                    This.offArr.push(offT);
                });
            },
            posTag:function(top){
                this.$curTag.css({top:top+'px'});
            },
            ifPos:function(st){
                var offArr = this.offArr;
                //console.log(st);
                var windowHeight = Math.round(this.$win.height() * this.opts.scrollThreshold);
                for(var i=0;i<offArr.length;i++){
                    if((offArr[i] - windowHeight) < st) {
                        var $curLi = this.$pageNavListLis.eq(i),
                            tagTop = $curLi.position().top;
                        $curLi.addClass("cur").siblings("li").removeClass("cur");
                        this.curIndex = i;
                        this.posTag(tagTop+this.$pageNavListLiH*0.5);
                        //this.curIndex = this.$pageNavListLis.filter(".cur").index();
                        this.opts.scrollChange.call(this);
                    }
                }
            },
            bindEvent:function(){
                var This = this,
                    show = false,
                    timer = 0;
                this.$win.on("scroll",function(){
                    var $this = $(this);
                    clearTimeout(timer);
                    timer = setTimeout(function(){
                        This.scrollIng = true;
                        if($this.scrollTop()>This.opts.scrollTopBorder){
                            if(!This.$pageNavListLiH) This.$pageNavListLiH = This.$pageNavListLis.eq(0).height();
                            if(!show){
                                This.$pageNavList.fadeIn();
                                show = true;
                            }
                            This.ifPos( $(this).scrollTop() );
                        }else{
                            if(show){
                                This.$pageNavList.fadeOut();
                                show = false;
                            }
                        }
                    },This.opts.delayDetection);
                });

                this.$pageNavList.on("click","li",function(){
                    var $this = $(this),
                        index = $this.index();
                    This.scrollTo(This.offArr[index]);
                })
            },
            scrollTo: function(offset,callback) {
                var This = this;
                $('html,body').animate({
                    scrollTop: offset
                }, this.opts.scrollSpeed, this.opts.easing, function(){
                    This.scrollIng = false;
                    //修正弹两次回调 蛋疼
                    callback && this.tagName.toLowerCase()=='body' && callback();
                });
            }
        };

        //实例化
        var directoryNav = new DirectoryNav($("h2,h3"),{
            scrollTopBorder:0   //滚动条距离顶部多少的时候显示导航，如果为0，则一直显示
        });

    </script>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $.goup({
            trigger: 100,
            bottomOffset: 50,
            locationOffset: 50,
            titleAsText: true
        });
    });
</script>
<%- include('components/footer')%>