<%- include('components/header')%>
<link href="/css/stylepc.css" rel="stylesheet">
<script src="/js/pc.js"></script>
<div class="row">
<img src="img/v3/4.jpg" alt=" " width="100%" height="80%">
<div class="main_menu">

    <div class="menu">
        <h3><i class="q-menu-img positionIicon"></i>智能电器</h3>
        <ul class="ulmenu1">
            <li><a class="selected menu_bar" href="#tab1">智能门禁</a></li>
            <li><a class="menu_bar" href="#">智能灯光</a></li>
            <li><a class="menu_bar" href="#">智能窗帘</a></li>
            <li><a class="menu_bar" href="#">智能地暖</a></li>
        </ul>

        <h3><i class="q-menu-doit positionIicon"></i>智能管理</h3>
        <ul class="ulmenu2">
            <li><a class="selected menu_bar" href="#tab1">智能监控</a></li>
            <li><a class="menu_bar" href="#">智能安防</a></li>
        </ul>

        <h3><i class="q-menu-three positionIicon"></i>智能享受</h3>
        <ul class="ulmenu3">
            <li><a class="selected menu_bar" href="#tab1">智能背景音乐</a></li>
            <li><a class="menu_bar" href="#">智能家庭影院</a></li>
            <li><a class="menu_bar" href="#">智能高尔夫球场</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="menu1 menu_tab">
            <div id="tab1" class="tab active">
                <br><br><h4 style="color:black;text-align:center">智能门禁系统是新型现代化安全管理系统，它集微机自动识别技术和现代安全<br><br>
                    管理措施为一体，涉及电子，机械，光学，计算机技术，通讯技术，生物技术等诸多新技术
                    </h4>
                <img src="img/v3/door1.png" alt="door1" width="700" height="400">
                <img src="img/v3/door2.png" alt="door2" width="700" height="400">
                <img src="img/v3/door3.png" alt="door3" width="700" height="400">
                <img src="img/v3/door4.png" alt="door4" width="700" height="400">
                <img src="img/v3/door5.png" alt="door5" width="700" height="400">
            </div>
            <div  id="tab2" class="tab">
                <img src="img/v3/light1.png" alt="light1" width="700" height="400">
                <img src="img/v3/light2.png" alt="light2" width="700" height="400">
                <img src="img/v3/light3.png" alt="light3" width="700" height="300">
                <img src="img/v3/light4.png" alt="light4" width="700" height="400">
                <img src="img/v3/light5.png" alt="light5" width="700" height="300">
                <img src="img/v3/light6.png" alt="light6" width="700" height="400">
                <img src="img/v3/light7.png" alt="light7" width="700" height="400">
                <img src="img/v3/light8.png" alt="light8" width="700" height="400">
            </div>

            <div  id="tab3" class="tab">
                <img src="img/v3/curtain1.png" alt="curtain1" width="700" height="400">
                <img src="img/v3/curtain2.png" alt="curtain2" width="700" height="400">
                <img src="img/v3/curtain3.png" alt="curtain3" width="700" height="400">
                <img src="img/v3/curtain4.png" alt="curtain4" width="700" height="400">
                <img src="img/v3/curtain5.png" alt="curtain5" width="700" height="400">
                <img src="img/v3/curtain6.png" alt="curtain6" width="700" height="400">
            </div>


            <div  id="tab4" class="tab">
                <img src="img/v3/warm1.png" alt="warm1" width="600" height="400">
                <h3>地暖智能控制</h3>
                <h4>近年来，地暖在国内逐渐兴起，以安装在墙壁上的控制面板作为主要控制媒介。地暖舒适<br><br>
                    健康，噪音小，热稳定性好，不占用室内空间，使用寿命长，被誉为目前最为舒适的家庭<br><br>
                    采暖方式,越来越受到人们的喜爱和欢迎。但地暖是慢热型，消耗天然气或电量比较大，多<br><br>
                    多少少造成能源的浪费。特别对于回家时间不是很固定的用户，就不能很充分地享受到地<br><br>
                    暖带来的舒适。地暖智能控制可以有效解决这一问题，让人们享受舒适，节约能源。</h4>
                <img src="img/v3/warm2.png" alt="warm2" width="350" height="250" style="float:left">
                <img src="img/v3/warm3.png" alt="warm3" width="350" height="250">
                <h4>地暖分区智能温控系统，是由分集水器、热电执行器及室内温控器组成。通过设置室内温<br><br>
                    控器的相关参数 ，来控制安装于分集水器上的热电执行器，并通过分集水器实现各支路的<br><br>
                    开启或关闭，达到控制各个单独区域的地暖循环，从而实现各区域的不同温度、不同时间<br><br>供暖的要求。</h4>
                <img src="img/v3/warm4.png" alt="warm3" width="600" height="200">
                <h3>地暖智能控制优点</h3>
                <h4 class="tt"><big>1.节能：</big></h4>
                <p><big>实现分区智能控制的地暖系统相对于普通地暖系统节能30~40%左右。在日常使用过程中，可根</big><br>
                    <big>据家庭成员活动区域的变化及活动时间的不同，设定节能温度模式及正常使用模式，从而避免在</big> <br>
                    <big>非长时间活动区域浪费能源采暖的问题，从而达到节省运行费用的目的。</big>
                </p>
                <h4 class="tt"><big>2.个性化设置</big></h4>
                <p><big>由于地区、年龄、身体状况及生活习性等因素的差异，每个人对舒适温度的要求也不相同，因此</big><br>
                    <big>作为以人为本的高档住宅项目，解决这个问题尤其重要。分区智能控制的地暖系统，通过每个房</big><br>
                    <big>间的温度控制器，可实现同一套系统不同区域、不同时间的温度不同的要求，并且通过编程预设</big><br>
                    <big>定的形式，实现定时定温开启或关闭。而普通地暖系统，很难调节温度。</big>
                </p>
                <h4 class="tt"><big>3.操作方便性</big></h4>
                <p><big>由于混凝土蓄热层的缘故，地暖系统具有很强的热惰性，升温/降温均匀、缓慢，通常需要2~3小时</big><br>
                    <big>左右，所以在普通地暖系统的使用过程中，通过调节各分水器环路流量实现房间温度变化基本无</big><br>
                    <big>法实现，而分区分时智能控制系统只须设定房间温控器，其自动调节达到理想的设定温度，操作</big><br>
                    <big>简单、明了。</big>
                </p>
                <h4 class="tt"><big>4.提高舒适性</big></h4>
                <p><big>分区分时智能控制系统，保证房间的实际温度在设定的温度。当房间温度达到设定的理想温度时，</big><br>
                    <big>这个区域的地暖系统关闭；当低于设定的理想温度时，此区域的地暖系统开启。不会存在房间温</big><br>
                    <big>度过高或过低的问题发生。</big><br>
                </p>
            </div>
        </div>
        <div class="menu2 menu_tab">
            <div id="tab1" class="tab">
                <img src="img/v3/control1.png" alt="control1" width="700" height="400">
                <img src="img/v3/control2.png" alt="control2" width="700" height="400">
                <img src="img/v3/control3.png" alt="control3" width="700" height="400">
                <img src="img/v3/control4.png" alt="control4" width="700" height="400">
                <img src="img/v3/control5.png" alt="control5" width="700" height="400">
                <img src="img/v3/control6.png" alt="control6" width="700" height="400">
                <img src="img/v3/control7.png" alt="control7" width="700" height="400">
                <img src="img/v3/control8.png" alt="control8" width="700" height="400">
            </div>
            <div  id="tab2" class="tab">
                <img src="img/v3/secure1.png" alt="secure1" width="700" height="400">
                <img src="img/v3/secure2.png" alt="secure2" width="700" height="400">
                <img src="img/v3/secure3.png" alt="secure3" width="700" height="400">
                <img src="img/v3/secure4.png" alt="secure4" width="700" height="400">
                <img src="img/v3/secure5.png" alt="secure5" width="700" height="400">
                <img src="img/v3/secure6.png" alt="secure6" width="700" height="400">
            </div>
        </div>

        <div class="menu3 menu_tab">
            <div id="tab1" class="tab">
                <img src="img/v3/music1.png" alt="music1" width="700" height="400">
                <img src="img/v3/music2.png" alt="music2" width="700" height="400">
                <img src="img/v3/music3.png" alt="music3" width="700" height="400">
                <img src="img/v3/music4.png" alt="music4" width="700" height="400">
                <img src="img/v3/music5.png" alt="music5" width="700" height="400">
                <img src="img/v3/music6.png" alt="music6" width="700" height="400">
            </div>
            <div  id="tab2" class="tab">
                <h4>
                        随着生活品质的提高，家庭影院私人定制，轻松享受！<br><br>

                        让你不再烦恼找不到停车位、订不到理想的座位，<br><br>

                        不用担心因重要电话而不能好的朋友家人好好的看一场电影，<br><br>

                        让您随心所欲的掌控着影院的一切—光线、温度、内容甚至是电影的进程，以最舒适的姿态品尝美酒！<br><br>
                </h4>
                <img src="img/v3/film1.png" alt="film1" width="700" height="400">
                <h5>
                    在传统的家庭影院基础上加入智能控制功能，把家庭影音室内所有影音设备以及影院环境设备巧妙且完整地整体智能控<br><br>
                    制起来。通过一套智能家庭影院控制系统，统一管理与控制家庭影院室内的各种视听影音设备（例如：功放、音响、高<br><br>
                    清播放器、影碟机、投影仪、电动投影幕 、高清电视等）以及影院室内各种灯光空调、地暖、新 风、电动窗帘等环境<br><br>
                    控制设备，通过墙面的液晶控制面板或遥控器，甚至IPAD，IPHONE平板电脑，只要一键就实现" 影院、音乐、K歌、<br><br>
                    娱乐、入场、离开" 等各种情景控制模式快速进入与自由切换，以节省单独手动控制每个影音设备与环境控制设备开关<br><br>
                    与调节时间，让观赏者直接以最智能与快捷的方式达到想要的娱乐内容与娱乐场景；从而大大提高工作效率和简化复杂<br><br>
                    的操作，能适合所有人士使用而不需要具备专业的知识。<br><br>
                </h5>
                <img src="img/v3/film2.png" alt="film2" width="700" height="400">
                <h4>智能媒体控制采用全集成解决方案，即点即播放，同时可以一键场景开关，同时支持高清<br><br>
                        片源直接以海报方式显示在iPad上
                </h4>
            </div>
            <div  id="tab3" class="tab">
                <img src="img/v3/golf1.png" alt="golf1" width="700" height="400">
                <img src="img/v3/golf2.png" alt="golf2" width="700" height="400">
                <img src="img/v3/golf3.png" alt="golf3" width="700" height="400">
                <img src="img/v3/golf4.png" alt="golf4" width="700" height="400">
                <img src="img/v3/golf5.png" alt="golf5" width="700" height="400">
                <img src="img/v3/golf6.png" alt="golf6" width="700" height="400">
                <img src="img/v3/golf7.png" alt="golf7" width="700" height="400">
                <img src="img/v3/golf8.png" alt="golf8" width="700" height="400">
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $.goup({
            trigger: 100,
            bottomOffset: 50,
            locationOffset: 50,
            titleAsText: true
        });
    });
</script>
<%- include('components/footer')%>